@import 'variables';
//@import url('https://fonts.googleapis.com/css?family=Alegreya'); //Anton|Passion+One

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: $c-bg;
	font-family: 'Alegreya', serif;
	font-weight: 400;
	color: $c-text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
}

label {
	color: $c-text-light;
}

input {
  background: darken($c-bg, 5%);
  border: 0;
  box-shadow: 0 1px lighten($c-bg, 10%);
  color: inherit;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 2px;
  padding: 4px;
  width: 100%;
}

button,
input[type="submit"],
.button {
  background: $c-text-light;
  border: 0;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(#000, 0.2);
  color: #ffffff;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  margin: 24px auto 32px;
  padding: 12px 24px;
  width: auto;

  &:active,
  &:focus,
  &:hover {
    background: lighten(#5c677e, 10%);
    outline: 0;
    transition: background 0.3s ease-in-out;
  }
}

input[type="submit"] {
	background-color: #5c677e;
	font-size: 16px;
	padding: 12px 40px;
}

.flex {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

[aria-label] {
  position: relative;
}
[aria-label]:hover {
  cursor: pointer;
}
[aria-label]:after {
  content: attr(aria-label);
  display: none;
  position: absolute;
  top: 110%;
  left: 10px;
  margin-left:-20px;
  z-index: 1004;
  padding: 8px 10px;
  line-height: 15px;
  width: 120px;
  height: auto;
  white-space: normal;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 0 1px #888;
  background-color: black;
  -webkit-border-radius: 5px;
  border-radius: 6px;
}
[aria-label]:hover:after, [aria-label]:focus:after {
  display: inline-block;
}

@media screen and (max-width: 680px) {
  [aria-label]:after {
    line-height: 12px;
  };
}


