#layerctrl {
/*background: rgba(42, 42, 42, 0.8);*/
  padding: 4px;
  border-radius: 4px;
}
#layerctrl input {
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  }
#layerctrl table tr {
  transform: translateY(0);
  transition: transform 0.4s ease-out;
}
#layerctrl table tr.up {
  transform: translateY(33px);
  transition: none;
}
#layerctrl table tr.down {
  transform: translateY(-33px);
  transition: none;
}
/* https://codepen.io/nlfonseca/pen/MwbovQ
   https://dev.to/richiksc/standardizing-input-type-range-styling-3lkl
   https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
*/
.range {
  -webkit-appearance: none;
  background: none;
  min-width:100px;
  box-shadow:none;
  height:6px;
  padding-top:0px;
  cursor:pointer;
  &:focus {
    box-shadow: none;
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background: #c7c7c7;
    content: '';
    pointer-events: none;
    height: 6px;
    border-radius: 10px;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-radius: 10px;
    color: transparent;
    height: 6px;
  }

  &::-moz-range-track {
    -webkit-appearance: none;
    border-radius: 10px;
    background: #eee;
    border: 1px solid #ccc;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #8899A6;
    border: 1px solid #22303c;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    margin-top: -4px;
  }

  &::-moz-range-thumb, &::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #1976D2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #1976D2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  &::-moz-range-progress {
    height: 6px;
    border-radius: 10px 0 0 10px;
    background-color: #2196F3;
    border: 1px solid #1976D2;
  }

  &::-ms-fill-lower {
    background: #2196F3;
    border: 1px solid #1976D2;
  }

  &::-ms-fill-upper {
    background: #2196F3;
    border: 1px solid #1976D2;
  }
}
