/* https://codepen.io/prasannaFE/pen/qbQOBJ https://codepen.io/thierry/pen/gPoWxj
   https://codepen.io/andornagy/pen/RNeydj */
.nav-tabs {
  position: relative;
  label, h2 {
    display:block;
    color:#fff;
    font-size:17px;
    font-weight: 600;
    text-decoration:none;
    text-align: center;
    width: 6.5em;
  }
  h2 {
    position: relative;
    padding:14px 20px;
    margin: 0;
  }
  label {
    position: absolute;
    padding: 24px 20px;
    border-radius: 10px;
    z-index: 1;
  }
  label:hover {
    cursor: pointer;
  }
  label ~ label, h2 ~ h2 {
    position: absolute;
    top: 0;
  }
  label:nth-child(1), h2:nth-child(3) {
    left: 0.5em;
  }
  label:nth-child(5), h2:nth-child(7) {
    left: 7em;
  }
  label:nth-child(9), h2:nth-child(11) {
    left: 13.5em;
  }
  input[name="tabs"] {
    opacity: 0;
    position: absolute;
    width: 6.5em;
  }
  input[name="tabs"]:focus + h2 {
    outline: 1px dotted #000;
    outline-offset: 10px;
  }
  input[name="tabs"]:checked + h2 {
    background: rgba(0,25,40,0.8);
    border-radius: 5px;
  }
/*input[name="tabs"]:checked + h2:after {
    content: '';
    margin: auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
  }*/
  input + h2 + div {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
  }
  input:checked + h2 + div {
    position: static !important;
    padding: 1em !important;
    height: auto !important; 
    width: auto !important; 
    min-width:20.5em !important;
  }
}
.nav-tabs:hover h2 {
  outline: none !important;
}
/*
@media screen and (max-width: 18em) {
  .nav_tabs {
    label, input[name="tabs"] {
      display: none;
    }
    input + h2 + div {
      display: block !important;
      position: static !important;
      padding: 1em !important;
      height: auto !important; 
      width: auto !important; 
    } 
    h2 {
      width: auto;
      position: static !important;
    } 
    h2:after {
      display: none !important;
    }
  }
}
*/
