[submodule "ThreeGeoJSON"]
	path = ThreeGeoJSON
	url = https://github.com/jdomingu/ThreeGeoJSON
[submodule "sau-node"]
	path = sau-node
	url = https://github.com/SeaAroundUs/sau-node.git
[submodule "webglearth2"]
	path = webglearth2
	url = https://github.com/webglearth/webglearth2.git
