.flex {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.home {
	display: flex;
	margin: 0 auto;
	min-height: 100%;
	padding: 20px;
	width: 100%;
	overflow-y: auto;
}
/*
.siema {
  margin: 1rem 0;
}
img {
  width: auto;
}
*/
