{
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }]
      ],
      "plugins": [
        ["transform-react-jsx", { "pragma": "h" }]
      ]
    }
  }
}
