#ignore node_modules
node_modules
build
**/map/
**/ssr-build/
webgl
pub
ver_bak
coverage
data
temp
tmp
nohup.out
.vscode
*.save
*.bak
*.swp
*~
.DS_Store
.credentials.*
.eslintrc.*
**/*.pem
**/*.key
**/*.cert
yarn.lock
**/.cache
size-plugin.json
**/.log
