.modalbutton {
    display: inline-block;
    position: relative;
    background: #303336;
    border: 1px solid #444;
    color: #edffff;
    fill: #edffff;
    border-radius: 4px;
    padding: 4px 6px;
    margin: 2px;
    margin-right: -2px;
    cursor: pointer;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.thinx {
  color: antiquewhite;
  font-size:0.85em;
}
.smalltd {
  font-size:0.85em;
  max-width:110px;
}
.mediumtd {
  font-size:0.85em;
  min-width:110px
}
.simgsel {
  font-size:11px;
  max-width:110px;
}
.laychkbox {
  margin-left: -10px;
  width: 25px;
}
.coastbutn {
  padding:6px 6px;
  margin:6px;
  font-size:0.8em;
}

@media screen and (max-width: 400px) { 
  .smalltd { max-width: 90px; font-size:11px} 
  .simgsel { max-width: 90px; font-size:10px}
}
