.toolToggle {
    margin-top: -15px;
    margin-left: -20px;
    padding: 5px 5px 5px 5px;
    z-index: 1003;
    max-width: 100px;
    max-height: 60px;
}

.toolButn {
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 12px 6px;
    background: transparent;
    line-height: 1;
  &:hover{
    background-color:silver;
    color:slategrey;
    text-decoration:none;
  }
}
.toolButn::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 2em;
   height: 2em;
   background: url('../../assets/icons/gears96_01.png');
   background-size: 100% auto;
}

.modalOverlay.notshown{
  display: none;
  z-index:-1;
}
.modalOverlay{
   background: linear-gradient(135deg, rgba(7,42,126,1) 0%, rgba(6,31,107,0.55) 100%);
   border:1px solid lightgrey;
   border-radius:8px;
   width: auto;
   min-width: 20.5em;
   height: auto;
   min-height: 500px;
   left:2%;
   position:absolute;
   top:8%;
   overflow:hidden;
   max-width:66em;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
   display: block;
   opacity:1;
   pointer-events:auto;
   z-index:999;
/*&:target{
    display: block;
    opacity:1;
    pointer-events:auto;
    z-index:999;
  }*/
  .modal{
    color:white;
    width: 100%;
    height: 100%;
    min-height: 500px;
    margin:0 auto;
    padding:0 2px;
    /*overflow: auto;*/
    -webkit-overflow-scrolling: touch;
    @media (min-width: 60em) {
      height:100%;
      max-width:66em;
      width:100%;
    }
  }
  .modalHeader{
    cursor: move;
    max-height: 1.35em;
    text-align: center;
    padding-top: 10px;
    .close{
      background-color:rgba(0,51,102,.75);
      color:white;
      font-size:24px;
      padding:1px 5px;
      position:absolute;
      right:2px;
      top:2px;
      z-index:1000;
    }
  }
}

.ctrlwrapper {
  padding: 0 5px;
  margin: 15px auto;
}
.ctrlsect {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.ctrlcolumn {
  flex: 1;
  border: 1px solid gray;
  margin: 2px;
  padding: 10px;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }	
}

@media screen and (max-width:64em) {
  .ctrlsect div {
    margin-bottom: 5px;
    flex-basis: 40%;
    &:nth-last-child(2) {
	margin-right: 0;
    }
    &:last-child {
	flex-basis: 100%;
	margin: 0;
    }
  }
}
@media screen and (max-width: 680px) {
    .ctrlsect div {
	flex-basis: 100%;
	margin: 0 0 5px 0;
    }
}
