.ctrlEnDiv { 
  input {
    width: 30px;
    margin-top: 10px;
  }
  input[type="checkbox"] {
    box-shadow: none;
    cursor:pointer;
  }
}
.thinx {
  color: antiquewhite;
  font-size:0.9em;
  tr td {
    max-height: 40px;
    input {
      font-size: 1em;  
    }
  }
}
/*
.bubblex {
  background: black;
  color: white;
  font-size:8px;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubblex::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}
*/

