.Redo {
  position: absolute;
  left: 140px;
  align-items: flex-end;
  height: 40px;
  margin-top: 10px;
  margin-left:-40px;
}
/*
.svglogo {
  cursor: pointer;
}
*/
.Redo > svg path, svg rect{
  fill: #FF6700;
}

.Redo.notbusy {
  display: none;
}
